:host {
  display: grid;

  align-items: center;
  justify-content: center;
  justify-items: center;
  --rotation: 135deg;
  --rotation: 225deg;
  --size-step: 10px;
  --odd-color-step: 5;
  --even-color-step: 5;

  --center: 12;

  height: 100vh;
  width: 100vw;

  contain: strict;
}

.square {
  --size: calc(40px + var(--index) * var(--size-step));

  display: block;
  width: var(--size);
  height: var(--size);
  transform: rotateZ(calc(var(--rotation) * var(--state) * (var(--center) - var(--index))));
  transition-property: transform, border-color;
  transition-duration: 5s;
  transition-timing-function: ease-in-out;
  grid-area: 1 / 1;
  background: white;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  box-sizing: border-box;
  will-change: transform, border-color;

  contain: strict;
}

.square.odd {
  --luminance: calc(var(--index) * var(--odd-color-step));
  background: rgb(var(--luminance), var(--luminance), var(--luminance));
}

:host(.pride) .square:nth-child(12n + 1) {
  background: #E70000;
}
:host(.pride) .square:nth-child(12n + 3) {
  background: #FF8C00;
}
:host(.pride) .square:nth-child(12n + 5) {
  background: #FFEF00;
}
:host(.pride) .square:nth-child(12n + 7) {
  background: #00811F;
}
:host(.pride) .square:nth-child(12n + 9) {
  background: #0044FF;
}
:host(.pride) .square:nth-child(12n + 11) {
  background: #760089;
}

